<div class="container p-5 border rounded d-flex justify-content-center bg">
    <div class="card px-1 py-4">
        <div class="card-body">
            <p class="card-title mb-3 fs-1">Start Tracking</p>
            <div class="d-flex flex-row">
            </div>
            <h6 class="information mt-4">Please provide following information</h6>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="name"></label>
                        <input class="form-control" type="text" placeholder="Food name">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <div class="form-group">
                            <label for="calories"></label>
                            <input class="form-control" type="text" placeholder="Calories">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <div class="form-group">
                            <label for="description"></label>
                            <input class="form-control" type="text" placeholder="Description">
                        </div>
                    </div>
                </div>
            </div>
            <div class=" d-flex flex-column text-center px-5 mt-3 mb-3">
                <small class="agree-text">By Booking this appointment you agree to the</small>
                <a href="#" class="terms">Terms & Conditions</a>
            </div>
            <button class="btn btn-primary btn-block confirm-button">Submit</button>
        </div>
    </div>
</div>